<div class="form">
  <h4>Login</h4>

  <form class="loginbox" autocomplete="off" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <input
      placeholder="Email"
      type="text"
      id="email"
      name="email"
      ngModel
      required
      email
    />
    <input
      placeholder="Password"
      type="password"
      id="password"
      name="password"
      ngModel
      required
    />
    <button [disabled]="!f.valid">Login</button>
  </form>
  <div class="info">
    <p>Do not have an account? <a routerLink="/register">Register here</a></p>
    <p>Forgot your password? <a routerLink="/forgot-password">Click here</a></p>
  </div>
</div>