
.tooltip {
	position: absolute ;
	z-index: 2;

	div {
		left: 50% ;
		position: absolute ;

		a {
			background-color: dimgrey ;
			border-radius: 2px ;
			bottom: 0;
			color: white ;
			cursor: pointer ;
			padding: 10px 15px ;
			position: absolute ;
			transform: translateX( -50% ) ;
			white-space: nowrap ;
	
			&:hover {
				background-color: lightgray ;
				color: black ;
			}
		}
	}

}
