.wrapper {
  display: grid;
  grid-template-columns: 80% 200px;
  grid-template-rows: auto;
  grid-template-areas: "main sidebar";
  column-gap: 40px;
  row-gap: 20px;

  .article {
    text-align: justify;
    grid-area: main
  }

  .comment {
    grid-area: sidebar;
  }
}